html, body, div, h1, h2, h3, h5, h6, header, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}
header {
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    display: flex;
    align-items: center;
    color: white;
    height: 50px;
    margin-bottom: 0px;
    font-family: helvetica,arial;
    font-weight: bold;
    font-size: 20px;
}
.navbar {}
.navbar ul {
    font-family: helvetica,arial;
    list-style-type: none;
    height: 40px;
    background-color: hsla(208, 27%, 5%, 1);
}
.navbar ul li {
    float: left;
    width: 190px;
}
.navbar ul li a {
    text-decoration: none;
    text-align: center;
    color:white;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 0px;
    pading-left: 20px;
}
.navbar a:hover {
    background-color: hsla(360, 100%, 25%, 0.62);
}
.footer {
    position: absolute;
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    bottom: 0;
    width: 100%;
    height: 40px;
}
